body {
    background-color: #b0a4ff;
}

.text {
    color: white;
}

/* CARD */

.card-title {
    text-align: center;
    padding-bottom: 1rem;
}

.card-img-top {
    display: block;
    margin: auto;
    padding-bottom: 2rem;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
}

.card {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
